@model IntexNWLP.Models.Order
@{
    ViewBag.Title = "OrderConfirmation";
}

<h2>Order Confirmation</h2>
<h3>Must be printed and sent with compounds to our Singapore laboratory</h3>

Customer: @Model.Customer.customerFirstName @Model.Customer.customerLastName
<br />
Order Date: @Model.orderDate
<br />
Order ID: @Model.orderId
<br />
Comments: @Model.customerComments
<br />
Order Status: @Model.Order_Status.status