
@{
    ViewBag.Title = "ShowOrderAssayInfo";

}

<h2>Order, Assay, and Compound Information</h2>
<br />
<br />

<p>Order Number: @ViewBag.Order.orderId</p>
<p>Customer ID: @ViewBag.Order.customerId</p>
<p>Order Date: @ViewBag.Order.orderDate</p>
<p>Customer Comments: @ViewBag.Order.customerComments</p>

<b>@Html.ActionLink("Update Order Status", "Edit", "Orders", new { id = ViewBag.Order.orderId }, null)</b>


<br />
<br />


<table class="table">
    <tr>
        <th>
            Assay ID
        </th>
        <th>
            Assay Type ID
        </th>
        <th>
            LTNumber
        </th>

    </tr>

    @foreach (var assay in ViewBag.Assays)
    {
        <tr>
            <td>
                @assay.assayId
            </td>
            <td>
                @assay.assayTypeId
            </td>
            <td>
                @assay.LTNumber
            </td>
            <td>
                @Html.ActionLink("Create Test for Assay", "Create", "Assay_Test", new { id = assay.assayId }, null)
            </td>

        </tr>
    }
</table>
<br />
<br />

<h4 style="color:red">Please update all necessary infomation upon receipt of order compounds</h4>


<table class="table">
    <tr>
        <th>
            Compound Sample ID
        </th>
        <th>
            Sequence Code
        </th>
        <th>
            LT Number
        </th>
        <th>
            Quantity
        </th>
        <th>
            Date Arrived
        </th>
        <th>
            Received By        
        </th>
        <th>
            Date Due
        </th>
        <th>
           Appearance
        </th>
        <th>
            Weight Indicated By Customer
        </th>
        <th>
            Actual Weight
        </th>
        <th>
            Molecular Mass
        </th>
        <th>
           Max Tolerated Dose
        </th>
    </tr>



    @foreach (var compound in ViewBag.Compound)
    {

        <tr>
            <td>
                @compound.compoundSampleId
            </td>
            <td>
                @compound.compoundSequenceCode
            </td>
            <td>
                @compound.LTNumber
            </td>
            <td>
                @compound.quantity
            </td>
            <td>
                @compound.dateArrived
            </td>
            <td>
                @compound.receivedBy
            </td>
            <td>
                @compound.dateDue
            </td>
            <td>
                @compound.appearance
            </td>
            <td>
                @compound.weightIndicatedByCustomer
            </td>
            <td>
                @compound.weightActual
            </td>
            <td>
                @compound.molecularMass
            </td>
            <td>
                @compound.maxToleratedDose
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", "Compound_Sample", new { id = compound.compoundSampleId }, null) |
                @Html.ActionLink("Delete", "Delete", "Compound_Sample", new { id = compound.compoundSampleId }, null)
            </td>
        </tr>
    }


</table>

@Html.ActionLink("Return to Lab Portal", "Index", "Lab", null, null)
@*@Html.ActionLink("Proceed to Create Test", "Create", "Assay_Test", null, null)*@
