
@{
    ViewBag.Title = "ShowOrderAssayInfo";

}
<div class="crazyTable">
    <h1>Order Information</h1>
    <table class="ordersTable">
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Customer ID
            </th>
            <th>
                Order Date
            </th>
        </tr>
        <tr>
            <th>
                @ViewBag.Order.orderId
            </th>
            <th>
                @ViewBag.Order.customerId
            </th>
            <th>
                @ViewBag.Order.orderDate
            </th>
        </tr>
    </table>
</div>

<div class="crazyTable">
    <h1>Customer Comments</h1>
    <p>@ViewBag.Order.customerComments</p>
</div>


<div class="crazyTable">
    <h1>Assay Information</h1>
    <table class="ordersTable">
        <tr>
            <th>
                Assay ID
            </th>
            <th>
                Assay Type ID
            </th>
            <th>
                LTNumber
            </th>
            <th>
                Actions to take
            </th>

        </tr>

        @foreach (var assay in ViewBag.Assays)
        {
            <tr>
                <td>
                    @assay.assayId
                </td>
                <td>
                    @assay.assayTypeId
                </td>
                <td>
                    @assay.LTNumber
                </td>
                <td>
                    @Html.ActionLink("Create Test for Assay", "Create", "Assay_Test", new { id = assay.assayId }, new { @class = "btn btn-default" })
                </td>

            </tr>
        }
    </table>
</div>

<div class="alert-danger">
    <br />
    <h4 style="text-align:center;"><strong>Please update all necessary infomation upon receipt of order compounds</strong></h4>
    <div style="text-align:center;">
        <b>@Html.ActionLink("Update Order Status", "Edit", "Orders", new { id = ViewBag.Order.orderId }, new { @class = "btn btn-default"})</b>
    </div>
    <br />
</div>

<div class="crazyTable">
    <h1>Record Compound Information</h1>
<table class="ordersTable">
    <tr>
        <th>
            Compound Sample ID
        </th>
        <th>
            Sequence Code
        </th>
        <th>
            LT Number
        </th>
        <th>
            Quantity
        </th>
        <th>
            Date Arrived
        </th>
        <th>
            Received By        
        </th>
        <th>
            Date Due
        </th>
        <th>
           Appearance
        </th>
        <th>
            Weight Indicated By Customer
        </th>
        <th>
            Actual Weight
        </th>
        <th>
            Molecular Mass
        </th>
        <th>
           Max Tolerated Dose
        </th>
        <th>
            Edit
        </th>
    </tr>



    @foreach (var compound in ViewBag.Compound)
    {

        <tr>
            <td>
                @compound.compoundSampleId
            </td>
            <td>
                @compound.compoundSequenceCode
            </td>
            <td>
                @compound.LTNumber
            </td>
            <td>
                @compound.quantity
            </td>
            <td>
                @compound.dateArrived
            </td>
            <td>
                @compound.receivedBy
            </td>
            <td>
                @compound.dateDue
            </td>
            <td>
                @compound.appearance
            </td>
            <td>
                @compound.weightIndicatedByCustomer
            </td>
            <td>
                @compound.weightActual
            </td>
            <td>
                @compound.molecularMass
            </td>
            <td>
                @compound.maxToleratedDose
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", "Compound_Sample", new { id = compound.compoundSampleId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", "Compound_Sample", new { id = compound.compoundSampleId }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }


</table>
</div>

@Html.ActionLink("Return to Lab Portal", "Index", "Lab", null, null)
@*@Html.ActionLink("Proceed to Create Test", "Create", "Assay_Test", null, null)*@
