<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Northwest Labs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://use.fontawesome.com/24ffa51781.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Logout", "LogOut", "Home", null, new { @class = "actionLink" })
                        </li>
                    </ul>  
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Login
                                <span class="caret"></span>
                            </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Customer Login", "Index", "Customers")</li>
                            <li>@Html.ActionLink("Lab Login", "Index", "Lab")</li>
                            <li>@Html.ActionLink("Management Login", "Index", "Management")</li>
                        </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @if (Request.IsAuthenticated)
            {
                <div id="footerLinks">
                    @Html.ActionLink("Management Portal", "Index", "Management", null, new { @class = "footerLink" })
                    @Html.ActionLink("Customer Portal", "Index", "CustomerPortal", null, new { @class = "footerLink" })
                    @Html.ActionLink("Lab Portal", "Index", "Lab", null, new { @class = "footerLink" })
                </div>
            }
            <p>&copy; @DateTime.Now.Year - Northwest Labs</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
