@model IEnumerable<IntexNWLP.Models.Assay_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assay_Test.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assayTestFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assayTestDescriptive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.completeDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assay_Test.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assayTestFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assayTestDescriptive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.completeDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.assayResultsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.assayResultsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.assayResultsId })
        </td>
    </tr>
}

</table>
