@model IEnumerable<IntexNWLP.Models.Assay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Compound.compoundName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.protocol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estNumDaysComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assayDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Compound.compoundName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.protocol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estNumDaysComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assayDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.assayId }) |
            @Html.ActionLink("Details", "Details", new { id=item.assayId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.assayId })
        </td>
    </tr>
}

</table>
