@model IntexNWLP.Models.Compound_Sample

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Compound_Sample</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Compound.compoundName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compound.compoundName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compoundSequenceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compoundSequenceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateArrived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateArrived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receivedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receivedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appearance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appearance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weightIndicatedByCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weightIndicatedByCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weightActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weightActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.molecularMass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.molecularMass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxToleratedDose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxToleratedDose)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Return to Order", "ReceiveOrder", "Lab", null, null)
        </div>
    }
</div>
