@model IntexNWLP.Models.Employees

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Offices.officeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offices.officeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles.roleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles.roleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeePhonePersonal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeePhonePersonal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeePhoneWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeePhoneWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
